body {
  /* background-color: #51748c; */
  /* color: white */
}

.nav {
  text-align: center;
  background: black
}

.navli {
  list-style-type: none;
  display: inline-block;
  margin: 2em;
  font-weight: 400;
  letter-spacing: .5px;
  color: white
  
}

.gametitle {
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 20px
  /* background-color: grey; */
  /* border-bottom: solid 0.5px grey */
}

.homediv {
  text-align: center;
}

.logindiv {
  float: left;
  /* border: solid 1px red; */
  width: 45%;
  /* text-align: center */
}
.loginbutton{
  margin-bottom: 20px
}

.registerdiv {
  float: right;
  /* border: solid 1px red; */
  width: 45%;
  text-align: center
}
.registerbutton {
  margin-bottom: 20px
}

input[type=text], [type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}






.profilebody {
  text-align: center
}

.edit {
  /* float: right */
}
.activity {
  /* float: right; */
  list-style-type: none
}

.activityul {
  /* margin-left: 0px; */
  /* padding-left: 0px */
}

li {
  list-style-type: none;
  /* text-align: center; */
}

.imgdiv {

}

img {
  width: 15em;
  height: 15em;
  /* border: solid 8px black; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* float: left */
  /* justify-self: center */
}

.imgform {
  /* float: left */
}

.namediv {
  /* float: right */
}

.name {
  font-size: 40px
}




.gamediv {
  text-align: center
}