body {
  /* background-color: #51748c; */
  /* color: white */
}

.nav {
  text-align: center;
  background: black
}

.navli {
  list-style-type: none;
  display: inline-block;
  margin: 2em;
  font-weight: 400;
  letter-spacing: .5px;
  color: white
  
}

.body {
  text-align: center
}

.edit {
  /* float: right */
}
.activity {
  /* float: right; */
  list-style-type: none
}

.activityul {
  /* margin-left: 0px; */
  /* padding-left: 0px */
}

li {
  list-style-type: none;
  /* text-align: center; */
}

.imgdiv {

}

img {
  width: 15em;
  height: 15em;
  /* border: solid 8px black; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* float: left */
  /* justify-self: center */
}

.imgform {
  /* float: left */
}

.namediv {
  /* float: right */
}





.gamediv {
  text-align: center
}